<div *ngIf="!isLoggedIn()" class="bodyhome">
<div  class="banner">
    <div class="banner-content">
      <h2>Adicione e acompanhe seus jogos prediletos com a lista de desejos da Retro Collectors.
          Entre ou crie uma conta! </h2>
          <h2></h2>
      <a href="/register" class="btn">Register</a>
      <a href="/login" class="btn">Login</a>
    </div>
  </div>
  <div >
    <hr/>
    <h4>
      <strong>Populares<span>♡</span></strong>
    </h4>
    <div class="cards">
      <figure class="card">
        <img src="https://i.pinimg.com/564x/58/2e/91/582e9187d42091577352f5fa2bb4a583.jpg" />
  
        <figcaption>DK</figcaption>
      </figure>
      <figure class="card">
        <img src="https://i.pinimg.com/564x/fd/14/44/fd1444f748992b61b31d47fe568b4ed9.jpg" />
  
        <figcaption>Pac Man</figcaption>
      </figure>
  
      <figure class="card">
        <img src="https://i.pinimg.com/564x/43/81/9c/43819ce4522f47e40fb82ae95194c6a3.jpg" />
  
        <figcaption>Space Invaders</figcaption>
      </figure>
      <figure class="card">
        <img src="https://i.pinimg.com/564x/d7/34/75/d7347575b851bcd3348dbd35349dbfc8.jpg" />

        <figcaption>Duck Hunt</figcaption>
      </figure>
      <figure class="card">
        <img src="https://i.pinimg.com/736x/fc/5e/06/fc5e06e8297b4a93c4a57ebefa824fb6.jpg" />
  
        <figcaption>Sonic</figcaption>
      </figure>
  
      <figure class="card">
        <img src="https://i.pinimg.com/564x/97/aa/fe/97aafeb33639d4adb8ca5afeed24f2b5.jpg" />
  
        <figcaption>Mega Man</figcaption>
      </figure>
  
      <figure class="card">
        <img src="https://i.pinimg.com/564x/ac/a2/bb/aca2bb26696b6ed1b7639b032752b16c.jpg" />
  
        <figcaption>Super Mario 3</figcaption>
      </figure>
  
      <figure class="card">
        <img src="https://i.pinimg.com/564x/9e/9c/d0/9e9cd0d024ed7efeca398a73868bae3c.jpg" />
  
        <figcaption>SOTC</figcaption>
      </figure>
  
    </div>

  <hr>
    <h4><strong>Novidades</strong></h4>
  
    <div class="news">
      <figure class="article">
        <img src="https://newr7-r7-prod.web.arc-cdn.net/resizer/v2/YDJQU5DWDRAF5PP5NQFCQTB5GU.jpg?auth=cca1a31189214dca95de2a09e6253cc60e4986b803659dc6492d560ddbc16687&width=770&height=433" />
  
        <figcaption>
          <h3>Controle Xbox</h3>
  
          <p>
            A Microsoft anunciou na semana passada um controle Xbox apelidado de Cheeky Controller, moldado como o icônico Deadpool.
          </p>
        </figcaption>
      </figure>
  
      <figure class="article">
        <img src="https://i.pinimg.com/564x/0b/43/bb/0b43bb79cca383512f91b0c8a01ce1c2.jpg" />
  
        <figcaption>
          <h3>Joy-Cons</h3>
  
          <p>
            Nintendo revela nova base de carregamento de Joy-Cons. Será compatível com a futura Switch 2 ainda por anunciar
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
  
</div>